*.gem
.bundle
Gemfile.lock
pkg/*
rdoc

.rvmrc

teleport.iml

.idea/workspace.xml

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/modules.xml

.idea/misc.xml

.idea/encodings.xml

.idea/copyright/profiles_settings.xml

.idea/compiler.xml

.idea/.rakeTasks

.idea/.name
